{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
<center><p><h1>Réinitialisation du mot de passe</h1></p>
<p>Veuillez saisir votre nouveau mot de passe</p>
<form method="post">
    <p><label for="inputPassword">Mot de passe : </label>
    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required></p></center> 
    <p><input type="hidden" name="token" value="{{ token }}"></p>
    {# <button class="btn btn-success" type="submit" id="valider"></button>   #}
    <center><p><button class="btn btn-success" type="submit">Envoyer</button></p></center> 
</form></center>
{% endblock %}