{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block message %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}
{% endblock %}

    {% block header %}
    <header id="headerwrap" class="fullheight">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in wow bounceInDown" data-wow-delay="0.5s">We Can Help You <span class="wodry">Discover|Learn|Master</span></div>
                <div class="intro-heading wow bounceInUp" data-wow-delay="1s">DO<span class="thin">SnowTricks</span></div>
                <a href="{{path('figures')}}#lestricks" class="page-scroll btn btn-xl btn-negative  wow bounceInDown" data-wow-delay="2s">Tell Me More <i class="fa fa-angle-down fa-2x"></i></a>
            </div>
        </div>
    </header>
    
    {% endblock %}  

{% block body %}
{% block javascriptTemplate %}
 <script src="assets/js/jquery.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
    $(document).ready(function() {
        'use strict';
        jQuery('#headerwrap').backstretch([
            "images/imageHome1.jpg",
            "images/imageHome2.jpg",
            "images/imageHome3.jpg"
        ], {
            duration: 8000,
            fade: 500
        });
    });
    </script>
{% endblock %}
{% endblock %}
