<h1>Mot de passe oublie</p>
    <p>Bonjour,<br><br>Une demande de reinitialisation de mot de passe a ete effectuee pour le site Snowtricks.com. Veuillez cliquer sur le lien suivant : </p>
    <p><a href="{{ absolute_url(path('app_reset_password', {'token': token})) }}">Reinitialiser mon mot de passe</a></p>