#registration_form_email{
background-color: rgb(17, 17, 17);
}

#registration_form_username{
background-color: rgb(17, 17, 17);
}

#registration_form_plainPassword{
background-color: rgb(17, 17, 17);
}

